@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Title.eot?') format('eot'),
       url('fonts/Ubuntu-Title.woff') format('woff'),
       url('fonts/Ubuntu-Title.ttf')  format('truetype'),
       url('fonts/Ubuntu-Title.svg#Ubuntu-Title') format('svg');
}

body {
  font-family: 'Ubuntu' !important;
  margin: 0;
  zoom: 1;
  overflow: hidden;
  -webkit-user-select: none;
  background-color: transparent;
}

.loading {
    width: 50px;
    height: 72px;
    background-image: url("http://s.cdpn.io/79/sprite-steps.png");

    -webkit-animation: play .8s steps(10) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

