body {
    padding: 0;
    margin: 0;
}

#mouse {
    background-image: url("img/mouse_off.png");
    width: 50px;
    height: 50px;
    -webkit-transition: background-image 0.5s ease-in-out;
}

#mouse.active {
    -webkit-animation: blink 1s infinite;
}

#mouse.clicked {
    background-image: url("img/mouse_on.png");
    -webkit-transition: background-image 0.0s ease-in-out;
    -webkit-animation: none;
}

@-webkit-keyframes blink {
    0% {
        background-image: url("img/mouse_med.png");
    }
    50% {
        background-image: url("img/mouse_off.png");
    }
    100% {
        background-image: url("img/mouse_med.png");

    }
}
