@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-Regular.eot?') format('eot'),
       url('fonts/Comfortaa-Regular.woff') format('woff'),
       url('fonts/Comfortaa-Regular.ttf')  format('truetype'),
       url('fonts/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
}


body {
  font-family: 'Comfortaa' !important;
  margin: 0;
  zoom: 1;
  overflow: hidden;
  -webkit-user-select: none;
  background-color: black;
  /*background-color: transparent;*/
}

::selection {
  background: rgb(255, 171, 235) !important;
  color: black !important;
}

/* ####################### Window Stuff ##################################### */
.mars-window {
  position: absolute;
  margin: 320px 200px 90px 190px;
}

.mars-window:after {
  content:"";
  position:absolute;
  top:0; bottom:0; left:0; right:0;

  border-image-source: url("img/gui_off.png");
  border-image-slice: 500 320 140 320;
  border-width: 500px 320px 140px 320px;
  margin: -320px -200px -100px -185px;
  pointer-events:none;
}

.mars-window.light-on:after {
  border-image-source: url("img/gui_on.png");
}


.mars-window-inner {
  position:relative;
  padding: 30px 30px 60px 30px;

  color: rgb(255, 171, 235);
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("img/gloss.png");
  background-repeat: no-repeat;
  background-size: 100% 80px;

  border-radius: 3px;
  border: 1px rgba(255, 171, 235, 0.5) solid;
  box-shadow: 0 0 5px rgba(255, 171, 235, 0.5) inset;
}

.mars-window.light-on
.mars-window-inner {
  border: 1px rgb(255, 171, 235) solid;
  box-shadow: 0 0 10px rgb(255, 171, 235) inset;
}

/* ######################### Scrollbars ##################################### */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 171, 235, 0.5);
    border-radius: 10px;
    margin: 15px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(255, 171, 235);
    background-color: rgba(255, 171, 235, 0.5);
}

/*Scroll-box*/
.scroll-box {
  -webkit-mask-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0,
                                            rgba(255, 255, 255, 1) 25px,
                                            rgba(255, 255, 255, 1) 50%,
                                            rgba(255, 255, 255, 0) 50%),
                    -webkit-linear-gradient(bottom,
                                            rgba(255, 255, 255, 0) 0,
                                            rgba(255, 255, 255, 1) 25px,
                                            rgba(255, 255, 255, 1) 50%,
                                            rgba(255, 255, 255, 0) 50%);
  -webkit-mask-composite: xor, source-out;
  overflow-y:scroll;
  margin: -15px 0;
}

.scroll-box-content {
  padding: 15px 5px 0 0;
}


/* ######################### Typography ##################################### */
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;

  position: relative;

  font-size: 2.5em;
  font-weight: normal;
}

h1:before {
  content: "";
  width: 90%;
  height: 3px;
  position: absolute;
  bottom: 0;
  border-bottom: none;
  background-image: -webkit-linear-gradient(left, rgb(255, 171, 235) 0%,rgba(0,0,0,0) 100%);
}


/* ############################## Selects ################################### */
.form-control select {
   background: transparent;
   width: 150px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
    -webkit-appearance: none;
}


/* ###################### Check and Radio buttons ########################### */

.radio label,
.checkbox label {
  position: relative;
  padding-left: 25px;
}

.radio label:hover,
.checkbox label:hover {
  color: #FFC7ED;
}

.radio label:active,
.checkbox label:active {
  top: 1px;
}

input[type="radio"],
input[type="checkbox"] {
  display:none;
}

input[type="radio"] + span:before,
input[type="checkbox"] + span:before {
  -webkit-transition: all 0.1s;
  position: absolute;
  left: -2px;
  top: 0px;
  width: 20px;
  height: 20px;

  background-color: rgba(0,0,0,0.8);
  background-image: url("img/gloss.png");
  background-repeat: no-repeat;
  background-size: 100% 10px;

  border: 2px rgba(255, 171, 235, 0.5) solid;
  box-shadow: 0 0 5px rgba(255, 171, 235, 0.5) inset, 0 1px 5px rgb(0, 0, 0);
}

input[type="radio"] + span:before {
  content: "";
  border-radius: 15px;
}

input[type="radio"]:hover + span:before {
  border: 2px rgb(255, 171, 235) solid;
  box-shadow: 0 0 10px rgb(255, 171, 235) inset, 0 1px 5px rgb(0, 0, 0);
}

input[type="radio"]:checked + span:before {
  content: "";
  background-color: rgba(255, 171, 235, 0.8);
}

input[type="checkbox"] + span:before {
  content: "";
  border-radius: 2px;
}

input[type="checkbox"]:hover + span:before {
  border: 2px rgb(255, 171, 235) solid;
  box-shadow: 0 0 10px rgb(255, 171, 235) inset, 0 1px 5px rgb(0, 0, 0);
}

input[type="checkbox"]:checked + span:before {
  content: "";
  background-color: rgba(255, 171, 235, 0.8);
}
